{% extends 'base/index.html' %}

{% block title %}首頁{% endblock %}

{% block home %}
  <div class="page withbg">
    <h1 class="title"><b>變更密碼</b></h1>
    <form class="setting">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">原始密碼</label>
        <div class="col-sm-10">
          <input type="password" class="form-control textbox">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">新密碼</label>
        <div class="col-sm-10">
          <input type="password" class="form-control textbox">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">確認密碼</label>
        <div class="col-sm-10">
          <input type="password" class="form-control textbox">
        </div>
      </div>
      <div class="d-md-flex justify-content-md-end submit">
        <button type="submit" class="btn btn-secondary btn-submit">更改密碼</button>
      </div>
    </form>
  </div>
{% endblock %}