<!DOCTYPE html>
<html lang="zh-TW">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href={% static 'profile.css' %}>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="../">Django Account</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="../">首頁</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../second/">第二頁</a>
              </li>
            </ul>
            <div class="account">
              {% if request.user.is_authenticated %}
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="options" data-bs-toggle="dropdown" aria-expanded="false">
                    {{request.user}}
                  </button>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="options">
                    <a class="dropdown-item" href="/profile/">帳號設定</a>
                    <a class="dropdown-item" href="/logout/">登出</a>
                  </div>
                </div>
              {% else %}
                <a class="btn btn-primary" href="/login/">登入</a>
              {% endif %}
            </div>
        </div>
      </nav>

      <div class="wrapper gray mt-sm-5">
        <h4 class="pb-4 border-bottom title">帳號設定</h4>
        <div class="d-flex align-items-start py-3 border-bottom">
            <img src="https://images.pexels.com/photos/1037995/pexels-photo-1037995.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img" alt="">
            <div class="pl-sm-4 pl-2 white" id="img-section">
                <b>帳號頭貼</b>
                <p style="color:rgb(162, 171, 179)">png檔案,大小限制1MB以下</p>
                <input type="file" class="upload">
          </div>
        </div>
        <div class="py-2">
            <div>
                <label for="lastname">帳號名稱</label>
                <input type="text" class="form-control textbox" value="tony2100" disabled>
            </div>
            <div>
                <label for="lastname">姓名</label>
                <input type="text" class="form-control textbox">
            </div>
            <div>
                <label for="lastname">電子郵件</label>
                <input type="text" class="form-control textbox">
            </div>
            <div class="right buttons">
                <a class="btn btn-danger" style="margin-right: 5px;" href='/password/'>變更密碼</a>
                <button class="btn btn-primary">儲存變更</button>
            </div>
        </div>
    </div>
</body>
<div>
</html>