{% extends 'base/auth.html' %}

{% block title %}註冊{% endblock %}

{% block form %}
<form action="" method="post">
    {% csrf_token %}
    {% for field, error in form.errors.items %}
        <div class="alert alert-danger my-3 p-1" role="alert">
            {{ error|striptags }}<br>
        </div>
    {% endfor %}
        <div class="form-group">
            <label class="form-control-label">帳號</label>
            {{form.username}}
        </div>
        <div class="form-group">
            <label class="form-control-label">密碼</label>
            {{form.password1}}
        </div>
        <div class="form-group">
            <label class="form-control-label">密碼確認</label>
            {{form.password2}}
        </div>
        <div>
            <div class="login-text">
                <a>已有帳號? <a href="/login">登入</a>
            </div>
            <div class="login-button">
                <button type="submit" class="btn btn-outline-primary loginBTN">註冊</button>
            </div>
        </div>
</form>
{% endblock %}